<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="container">
      <div class="columns">
        <div class="column is-1">
        </div>
        <div class="column is-10">
          <div class="navbar-brand">
            Railsnew
          </div>
        </div>
      </div>
  </div>
</nav>

<div>
  <section class="hero is-small">
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div class="column is-1">
          </div>
          <div class="column is-10">
            <div data-controller="prompt"
              data-prompt-name-value="awesome_app"
              data-prompt-database-value="">

              <input
                class="input is-success is-large"
                type="text"
                readonly
                value="rails new app ..."
              />

              <article class="message is-fullwidth is-success">
                <div class="message-body" data-action="database:selection@window->prompt#updateDatabase">
                  <span data-prompt-target="command"></span>
                </div>
              </article>

              <button>Copy to Clipboard</button>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="">
    <div class="container">
      <div class="columns">
        <div class="column is-1">
        </div>
        <div class="column is-10">

          <div class="card" data-controller="database" data-database-checked-value="0" data-database-iconStatus-value="0">
            <header class="card-header">
              <p class="card-header-title">
                <label class="checkbox">
                  <input type="checkbox" data-action="database#check"/>
                  Database <span data-database-target="output"></span>
                </label>
              </p>
              <button class="card-header-icon" aria-label="more options" data-action="database#expandCollapse">
                <span class="icon">
                  <i class="fa-solid fa-angle-down" data-database-target="icon"></i>
                </span>
              </button>
            </header>

            <div class="card-content is-hidden" data-database-target="cardContent">
              <div class="content">
                <div class="control grid">
                  <div class="cell">
                    <label class="radio" data-database-target="label" disabled>
                      <input type="radio" name="database" data-action="database#selectSqlite" value="sqlite3" data-database-target="database" checked disabled/>
                      SQLite3
                    </label>
                  </div>
                  <div class="cell">
                    <label class="radio" data-database-target="label" disabled>
                      <input type="radio" name="database" data-action="database#selectPostgresql" value="postgresql" data-database-target="database" disabled/>
                      PostgreSQL
                    </label>
                  </div>
                  <div class="cell">
                    <label class="radio" data-database-target="label" disabled>
                      <input type="radio" name="database" data-action="database#selectMysql" value="mysql" data-database-target="database" disabled/>
                      Mysql
                    </label>
                  </div>
                  <div class="cell">
                    <label class="radio" data-database-target="label" disabled>
                      <input type="radio" name="database" data-action="database#selectTrilogy" value="trilogy" data-database-target="database" disabled/>
                      Trilogy
                    </label>
                  </div>
                  <div class="cell"></div>
                  <div class="cell"></div>
                  <div class="cell"></div>
                  <div class="cell"></div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
</div>




