<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="container">
      <div class="columns">
        <div class="column is-1">
        </div>
        <div class="column is-10">
          <div class="navbar-brand">
            Railsnew
          </div>
        </div>
      </div>
  </div>
</nav>

<div data-controller="prompt">
  <section class="hero is-small">
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div class="column is-1">
          </div>
          <div class="column is-10">

            <input
              class="input is-success is-large"
              type="text"
              readonly
              value="rails new app ..."
            />

            <article class="message is-fullwidth is-success">
              <div class="message-body" data-prompt-target="command">
                rails new app lkbmosfgmnbskgnblskr
              </div>
            </article>

            <button>Copy to Clipboard</button>

          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="">
    <div class="container">
      <div class="columns">
        <div class="column is-1">
        </div>
        <div class="column is-10">

          <div class="card" data-controller="card" data-card-checked-value="0">
            <header class="card-header">
              <p class="card-header-title">
                <label class="checkbox">
                  <input type="checkbox" data-action="card#check"/>
                  Database <span data-card-target="output"></span>
                </label>
              </p>
              <button class="card-header-icon" aria-label="more options" data-action="card#expandCollapse">
                <span class="icon">
                  <i class="fa-solid fa-angle-down" data-card-target="icon"></i>
                </span>
              </button>
            </header>

            <div class="card-content is-hidden" data-card-target="cardContent">
              <div class="content">
                <div class="control grid">
                  <div class="cell">
                    <label class="radio" data-card-target="label" disabled>
                      <input type="radio" name="database" data-action="card#selectSqlite" value="sqlite3" data-card-target="database" checked disabled/>
                      SQLite3
                    </label>
                  </div>
                  <div class="cell">
                    <label class="radio" data-card-target="label" disabled>
                      <input type="radio" name="database" data-action="card#selectPostgresql" value="postgresql" data-card-target="database" disabled/>
                      PostgreSQL
                    </label>
                  </div>
                  <div class="cell">
                    <label class="radio" data-card-target="label" disabled>
                      <input type="radio" name="database" data-action="card#selectMysql" value="mysql" data-card-target="database" disabled/>
                      Mysql
                    </label>
                  </div>
                  <div class="cell">
                    <label class="radio" data-card-target="label" disabled>
                      <input type="radio" name="database" data-action="card#selectTrilogy" value="trilogy" data-card-target="database" disabled/>
                      Trilogy
                    </label>
                  </div>
                  <div class="cell"></div>
                  <div class="cell"></div>
                  <div class="cell"></div>
                  <div class="cell"></div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
</div>




